<!DOCTYPE html>
<html>
<head>
  <title>MoveIt</title>
  <%= include_gon(:init => true) %>
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyAMqwNLZj6PztcPAOXorTJWTujkVdXuMIo&libraries=places"></script>
  <%= stylesheet_link_tag    'application', media: 'all'  %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>



<meta name="viewport" content="width=device-width, initial-scale=1"/></head>
<body>
<%= render partial: "elements/navbar" %>
<br><br><br><br>

<%= bootstrap_flash %>


<%= yield %>

</body>
</html>
